<select onChange={{action 'updateSelected' value='target.value'}}>
  {{#each content as |val|}}
    <option selected={{e-q selected val}} value={{val}}>
        {{val}}
    </option>
  {{/each}}
</select>
