/* line 1, ../source/scss/chord.scss */
.inventory {
  display: inline-block;
  height: 100%;
  cursor: crosshair;
}

/* line 7, ../source/scss/chord.scss */
.chordBank {
  background: #aaa;
  margin: 0px;
}

/* line 16, ../source/scss/chord.scss */
.chordBank table {
  background: #25425a;
  border: 14px groove grey;
  margin: 2px;
}

/* line 23, ../source/scss/chord.scss */
.chordbtn button {
  color: inherit;
  background: rgba(0, 0, 0, 0.4);
  font-size: 22px;
  margin: 0px;
}

/* line 31, ../source/scss/chord.scss */
.chordbtn div {
  background: blue;
  color: white;
  font-size: 46px;
}

/* line 37, ../source/scss/chord.scss */
.chordedit {
  background: rgba(150, 150, 150, 0.6);
}
/* line 40, ../source/scss/chord.scss */
.chordedit td:last-child, .chordedit td:first-child {
  background: none;
}

/*
.loading{
	background-image:url(../images/loading.gif);
	background-repeat:no-repeat;
	background-size:auto 100%;
}

.loaded{

}
*/
