/* line 1, ../source/scss/lyrics.scss */
.lyrics {
  color: white;
  font-size: 44px;
  display: block;
  width: 100%;
  position: relative;
}

/* line 9, ../source/scss/lyrics.scss */
.field {
  text-align: center;
  background: rgba(0, 0, 155, 0.04);
  display: block;
  border: none;
  width: 100%;
  color: white;
}
