/* line 10, ../source/scss/menu.scss */
.menubar {
  background: #282828;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 4px;
  position: relative;
  top: 0px;
  width: 100%;
  border-bottom: 2px solid grey;
}
/* line 22, ../source/scss/menu.scss */
.menubar li div {
  top: 0px;
  cursor: pointer;
  border-radius: 15px;
  border: 7px inset #383838;
  -moz-box-shadow: inset 0px 0px 4px 4px #282828;
  -webkit-box-shadow: inset 0px 0px 4px 4px #282828;
  box-shadow: inset 0px 0px 4px 4px #282828;
  background: black;
  -moz-box-shadow: rgba(0, 0, 0, 0.89844) 0px 0px 20px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.89844) 0px 0px 20px inset;
  box-shadow: rgba(0, 0, 0, 0.89844) 0px 0px 20px inset;
  text-shadow: 0px 1px 2px #282828;
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 20px;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  color: transparent;
}

/*
.menu {
	display:block;
	background: #4f4f4f;
	margin-bottom:12px;
}
.menu li{
		display:inline-block;
		border:black 2px solid;
}
*/
