/* line 1, ../source/scss/nav.scss */
.blank {
  display: inline-block;
  background: white;
}

/* line 6, ../source/scss/nav.scss */
.nav {
  padding-left: 12px;
}

/* line 17, ../source/scss/nav.scss */
.nav div {
  width: 60%;
  margin-left: 12px;
}

/* line 21, ../source/scss/nav.scss */
.navlabel {
  background: #aaa;
  display: block;
  text-align: center;
  position: relative;
}
