/* line 19, ../source/scss/play.scss */
.playGroup {
  margin-left: 40%;
  margin-right: 40%;
  padding: 3px;
  border: 6px #777 groove;
  border-radius: 6px;
}

/* line 27, ../source/scss/play.scss */
.arrowbtn {
  margin: auto;
  position: relative;
}

/* line 32, ../source/scss/play.scss */
.arrow-play {
  width: 0;
  height: 0;
  border-top: 38px solid transparent;
  border-bottom: 38px solid transparent;
  border-left: 52px solid #bcc;
}

/* line 35, ../source/scss/play.scss */
.arrow-back {
  width: 0;
  height: 0;
  border-top: 38px solid transparent;
  border-bottom: 38px solid transparent;
  border-right: 52px solid #bcc;
}

/* line 39, ../source/scss/play.scss */
.arrow-left {
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-right: 48px solid #bcc;
  margin-left: -3px;
}
/* line 42, ../source/scss/play.scss */
.arrow-left:before {
  content: "";
  display: block;
  background: #bcc;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 48px;
}

/* line 47, ../source/scss/play.scss */
.arrow-right {
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 48px solid #bcc;
  margin-right: -3px;
}
/* line 50, ../source/scss/play.scss */
.arrow-right:before {
  content: "";
  display: block;
  background: #bcc;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 48px;
}
