/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 12, ../source/scss/_primatives.scss */
select {
  text-align: center;
  display: inline-block;
  width: 60px;
  color: transparent;
  border: 7px solid #383838;
  border-radius: 15px;
  -moz-box-shadow: 0px 0px 5px 5px #222222;
  -webkit-box-shadow: 0px 0px 5px 5px #222222;
  box-shadow: 0px 0px 5px 5px #222222;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 23, ../source/scss/_primatives.scss */
select:focus {
  outline: none;
}

/* line 26, ../source/scss/_primatives.scss */
option {
  outline: none;
}

/* line 29, ../source/scss/_primatives.scss */
li {
  display: inline-block;
}

/* line 33, ../source/scss/_primatives.scss */
li ul li {
  display: block;
}

/* line 36, ../source/scss/_primatives.scss */
table {
  display: inline-block;
}
/* line 38, ../source/scss/_primatives.scss */
table table {
  border: none;
  background: #292929;
}
/* line 42, ../source/scss/_primatives.scss */
table table td:first-child, table table td:last-child {
  background: rgba(150, 150, 150, 0.6);
}

/* line 49, ../source/scss/_primatives.scss */
input {
  text-align: center;
  display: inline-block;
  width: 46px;
  border: 7px solid #383838;
  border-radius: 15px;
  -moz-box-shadow: 0px 0px 5px 5px #222222;
  -webkit-box-shadow: 0px 0px 5px 5px #222222;
  box-shadow: 0px 0px 5px 5px #222222;
}
/* line 56, ../source/scss/_primatives.scss */
input:focus {
  background: black;
  color: white;
  outline: none;
}

/* line 63, ../source/scss/_primatives.scss */
button {
  display: inline-block;
  border-radius: 15px;
  -moz-box-shadow: 0px 0px 5px 5px #222222;
  -webkit-box-shadow: 0px 0px 5px 5px #222222;
  box-shadow: 0px 0px 5px 5px #222222;
  color: black;
}
/* line 70, ../source/scss/_primatives.scss */
button:active {
  display: inline-block;
  position: relative;
  top: -1px;
  left: -2px;
  border: 7px solid #383838;
  border-radius: 15px;
  -moz-box-shadow: 0px 0px 1px 1px #282828;
  -webkit-box-shadow: 0px 0px 1px 1px #282828;
  box-shadow: 0px 0px 1px 1px #282828;
}

/* line 81, ../source/scss/_primatives.scss */
table, th, td {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

/* line 89, ../source/scss/_primatives.scss */
th th {
  border-radius: 30px 30px 0px 0px;
  -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
  background: #626262;
  color: white;
}
/* line 94, ../source/scss/_primatives.scss */
th table {
  border-radius: 30px 30px 0px 0px;
  -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
}
/* line 100, ../source/scss/_primatives.scss */
th:first-child tr:last-child td {
  background: #626262;
  border-radius: 30px 30px 0px 0px;
  -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
  color: white;
}
/* line 110, ../source/scss/_primatives.scss */
th:last-child td h2 {
  background: #626262;
  border-radius: 60px;
  border-style: inset none none inset;
  -moz-box-shadow: inset 0px 6px 20px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0px 6px 20px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 6px 20px rgba(0, 0, 0, 0.9);
  font-size: 66px;
  height: 76px;
  width: 46px;
  position: relative;
  top: -6px;
  margin: 0px;
}
/* line 123, ../source/scss/_primatives.scss */
th:last-child table {
  height: 100%;
  position: relative;
  background: #282828;
  margin: 310px 0px -50px 0px;
  border: none;
}
/* line 129, ../source/scss/_primatives.scss */
th:last-child table td {
  border: none;
  border-radius: 33px;
  background: #282828;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
