/* line 5, ../source/scss/tablature.scss */
.tablet {
  margin: 0px 12px 30px 12px;
  border-radius: 15px;
  border: 7px inset #383838;
  -moz-box-shadow: inset 0px 0px 4px 4px #282828;
  -webkit-box-shadow: inset 0px 0px 4px 4px #282828;
  box-shadow: inset 0px 0px 4px 4px #282828;
  vertical-align: top;
  position: relative;
  display: block;
  height: 320px;
}

/* line 17, ../source/scss/tablature.scss */
.tablature {
  padding: 0;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 8px;
  display: inline-block;
  height: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
}
