//rgba(0,0,0,.5);
@mixin lineHeight(){
	line-height:1rem;
};
$fret:url('./../images/fret.jpg');
$chordScale:2rem;
$mahogany:rgb(185, 12, 12);
$borderRadius:100%;
$deepSecond:#3a3835;
$middleyellow:rgb(102, 102, 28);
$middleblue:rgb(157, 163, 168);
$middlered:#e8b4b4;
$middlepurple:#41041e;

$crisp:#e0e0e0;
$middleorange:#8e8b83;
$deepOrange:#c4ab7b;
$deepPurple:#1c1026;
$deepRed:#290303;
$deepBlue:rgb(6, 64, 83);
//rgba(37, 66, 90,0.58);
$secondColor:rgb(224, 228, 200);
$goldArrow:black;//rgba(3, 25, 43, 1);
$coldFeet:white;//rgba(244,213,209,.97);
$algebra:rgba(0 , 0 , 0 , .84);

$panelOverlay:linear-gradient(to bottom, $secondColor 0%, rgba(76,76,76,0.15) 85%, rgba(76,76,76,0) 100%);
$middlegrey:$deepPurple;//#ccc;///#666;
$textcolor:#112212;
$activeColor:#c73a27;


$darkenColor:rgb(114, 124, 130);//rgba(121, 136, 145, 0.66);//#323232;
$blend:#afafaf;
$colorOne:#377d5e;
$colorTwo:#797874;//#7c7d7c;
$pinkNoise:#ff509a;
$colorThree:#7a7a7a;

$almond:burlywood;//$middleblue;

.right{
	float:right;
}
.block{
	display:block;
}
//@include box-shadow(inset 0px 0px 4px 4px $blend);
//@include box-shadow(rgba(0, 0, 0, 0.898438) 0px 0px 20px inset);

@function opposite($pos) {
	$pos-map:(
    	'top':    'bottom',
	    'right':  'left',
    	'bottom': 'top',
	    'left':   'right'
 	 );
	@return map-get($pos-map, $pos);
}
