$panelOverlay:rgba(0,0,0,.5);
$middlegrey:#ccc;
$textcolor:#112212;
$activeColor:#c73a27;
$darkenColor:#323232;
$blend:#afafaf;
$colorOne:#377d5e;
$colorTwo:#7c7d7c;
$colorThree:#7a7a7a;
$almond:#666;
.right{
	float:right;
}
.block{
	display:block;
}
//@include box-shadow(inset 0px 0px 4px 4px $blend);
//@include box-shadow(rgba(0, 0, 0, 0.898438) 0px 0px 20px inset);

@function opposite($pos) {
	$pos-map:(
    	'top':    'bottom',
	    'right':  'left',
    	'bottom': 'top',
	    'left':   'right'
 	 );
	@return map-get($pos-map, $pos);
}
