.stave-dash{
	background:white;
	canvas{
		display:block;
		margin:0 auto;
		position:relative;
	}
	.tab-stave{
		text-align:center;
	}

	h2{
		text-align:center;
	}
}
.note-type{
  display:inline-block;
}
.note-length-btn{
  width:60px;
  height:60px;
  border:black 1px solid;
}
