

@import "compass/css3/box-shadow";
@import "compass/functions/lists";
@import 'properties';

@mixin calc($property,$expression){
	#{$property}: #{$expression};

}
.bank-pane{
	text-align:center;
	div{

		li{
			vertical-align:middle;
		}
		display:inline-block;
	}
}
.is-editing{
	cursor:crosshair;
	button{
		cursor:cell;
	}
	background:$darkenColor;//rgba(121, 136, 145, 0.66)
}
.chord-edit{
	background: $secondColor;// !important;
}
.chord-column, .chord-row{
	//cursor:w-resize;
	button{
		line-height: $chordScale;
		border-width:	$chordScale;
	}
}
.inventory{
	display:inline-block;
	height:100%;
	cursor:crosshair;
}
.chord-panel{
	float:left;
	margin:1.5rem;
	border:6px grey groove;
}
.chord-stack{
	div li{
		display:inline-block;
	}
	cursor:cell;
	outline:solid $midnight-sea 1.2rem;
	border:groove 2rem grey;
	//position:absolute;
	margin:0rem -1rem;
	//height:95%;
	//padding-right:1rem;
	//overflow-y:scroll;
}

.chordBank{
	overflow:hidden;
	transform-origin: center 29%;
	transform: scale(0.8);
	div{
		margin:$chordScale/2;
	}
	li{
		direction:initial;
    margin:$borderWidth;
    outline:none;
  }
	position:relative;
	padding:1rem;
	background:$panelOverlay;
	margin:0px;

	div,td,li,table{
		background: $crisp;

		padding:0;//$chordScale/14;
		line-height: 21rem;
		border-color:$secondColor;//$midnight-sea;
		border-radius: $chordScale;
	}
	table{
		padding: $chordScale 0;
		border-collapse:separate;


		.hit{
			color:$deepSecond;
			border:inset $chordScale/2 $secondColor;
			background: $midnight-sea ;
		}
		td{
			//transition:color 2s;
			line-height: $chordScale;
			font-size: $chordScale;
			//box-shadow:1px 1px 4px 5px yellow;
			color:$coldFeet;
			border: inset $chordScale/3;
			background:cornsilk;
		}
		background: $coldFeet;
		//border:1rem solid transparent;
		//outline:1rem solid $midnight-sea;
		margin:1.5rem;
		line-height:1rem;
	}
}

.chordbtn button{
	color:inherit;
	background:rgba(0,0,0,.4);
	font-size:22px;
  h1{

		margin:0px;
	}
	//  padding:0px 6px;
}

.chordbtn div{
	background:blue;
	color:white;
	font-size:46px;
}

.chordedit{
	background:rgba(150,150,150,.6);
	td{
  	&:last-child,&:first-child{
			background:none;
		}
	}
}
.match{
	//background:$pink !important;
	.hit{
		color:$pink !important;
		border-color:$mahogany $deepRed $pink $deepRed !important;
		border-style:solid !important;

		box-shadow:$deepRed 0rem 0rem 2rem !important;
		background:$mahogany !important;
	}
	td{
		color:transparent !important;
		box-shadow:none !important;
		border-color:transparent !important;
	}
  @include box-shadow( rgba(0,0,0,0.75) 0px 0px 6px 4px);
	div,li,table{
		border-radius: $borderWidth !important;
		background:transparent !important;

	}
  margin:0 !important;
  border-radius:$chordScale;
	color:$orange;
	background: transparent;
  border:$borderWidth solid $deepOrange !important;
}

/*
.loading{
	background-image:url(../images/loading.gif);
	background-repeat:no-repeat;
	background-size:auto 100%;
}

.loaded{

}
*/
