$borderWidth:.15rem;
$midnight-sea:rgba(0,0,0,0.31);
@import "compass/css3/box-shadow";
@import "compass/functions/lists";
.isEditing{
	cursor:crosshair;
	button{
		cursor:cell;
	}
}
.inventory{
	display:inline-block;
	height:100%;
	cursor:crosshair;
}
.chord-panel{
	float:left;
	margin:1.5rem;
	border:6px grey groove;

}
.chord-stack{
	cursor:cell;
	outline:solid $midnight-sea 1.2rem;
	border:groove 2rem grey;
	position:absolute;
	height:95%;
	overflow-y:scroll;
}

.chordBank{
  li{
    margin:$borderWidth;
    outline:none;
  }
	background:#aaa;
	margin:0px;
}

.chordBank table{
	 border-collapse:separate;
	 background: rgb(37, 66, 90);
	 border:14px groove grey;
	 margin:2px;

}

.chordbtn button{
	color:inherit;
	background:rgba(0,0,0,.4);
	font-size:22px;	
  margin:0px;
//  padding:0px 6px;

} 
.chordbtn div{
	background:blue;
	color:white;
	font-size:46px;	
}

.chordedit{
	background:rgba(150,150,150,.6);
	td{
  	&:last-child,&:first-child{
			background:none;
		}
	}
}
.match{
  @include box-shadow( rgba(0,0,0,0.75) 0px 0px 6px 4px);
  margin:0 !important;
	border:$borderWidth solid cyan;
}

/*
.loading{
	background-image:url(../images/loading.gif);
	background-repeat:no-repeat;
	background-size:auto 100%;
}

.loaded{

}
*/


