@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

.span-me{
	font-family:"Crimson Text", serif;
	font-size: 25px;
	text-align:center;
	border:none;
	padding:12px;
	width:50%;
}

.field{
	font-family:"Crimson Text", serif;
	font-size: 25px;
	text-align:center;
}


