@import "properties";

@import "compass/css3/box-shadow";
@import "compass/functions/lists";
@import "compass/css3/user-interface";
@import "compass/css3/text-shadow";
@import "compass/css3/background-clip";
@import "compass/css3/appearance";

.tool-tip{
	font-size: 90px;
	background: $middlegrey;
	@include box-shadow(inset 0px 0px 4px 4px $blend);
}
.vertical-align{
	vertical-align:middle;
}
.reverse{
  label{
    transform: scaleX(-1)
  }
}
.icon{
  float:left;
  display:block !important;
  margin: 1rem 2rem;
  width:50px;
  height:40px;
}
.option-stack{
	div{
		display:block !important;
	}
	background:$secondColor;//black;
	//position:absolute;
	//margin:0 -12rem 0 0;
	overflow-y:hidden;
	height:100%;
	width:22rem;
}
.is-inline{
  button{
    background:none;
		box-shadow:0 0 .7rem .1rem;
  }
	margin:-.5rem 0 !important;
	vertical-align:middle;
	display:inline-block;
	border:none !important;
}

@font-face {
  font-family: 'led_sas';
  src: url('../typography/VT323-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
.menubar{


	color:transparent;
	text-align:center;
	text-align:-webkit-center;
	//	outline: 6px solid $panelOverlay;
	background: $mahogany;//$blend;
  font-family:'led_sas';
	display:block;
	width:100%;

	margin:1rem;

	padding:1rem;

	position:relative;
	top:0px;
	width:100%;
  @include lineHeight();
	border-bottom:2px solid grey;
	h1{
		background:#333;
		color: #444;
		margin:0px;
	}
	span{
		margin:.25rem;
	}

@keyframes mymove {
  from {background: transparent;}
  to {background:blue}
}
	ul{
		white-space: nowrap;
		max-width: 62%;
		overflow-x: scroll;
		&::-webkit-scrollbar-track{
			background:transparent;//$deepPurple;
		}
		&::-webkit-scrollbar{
			width:12rem;
			background-color:$deepPurple;
		}
		&::-webkit-scrollbar-thumb{
			background:blue;
		}

	}
	li{
		padding:none;
		vertical-align:middle;
		background: $secondColor;
		border-radius: $chordScale;
		div,.is-inline label{
			&:hover{
				box-shadow: none;
				border-color:$middlered;
				background:$secondColor;

				label{
					animation: mymove 4s infinite;
					border:none;
				}
			}

			top:0px;
			cursor:pointer;
			border-radius:15px;
			border:7px inset $deepBlue;//#383838;
			@include box-shadow(inset 0px 0px 4px 4px $blend);
			background:$colorTwo;
			@include box-shadow(rgba(0, 0, 0, 0.898438) 0px 0px 20px inset);
			@include text-shadow(0px 1px 2px #282828);
	    @include background-clip(text);

			font-size:20px;
			padding:6px;
		  text-align:center;
			vertical-align:middle;
		  //  color: transparent;
		}
	}
}
input[type="button"]{

	border:none;
}
/*
.menu {
	display:block;
	background: #4f4f4f;
	margin-bottom:12px;
}
.menu li{
		display:inline-block;
		border:black 2px solid;
}
*/
