.meter-bar{
		border:3px black solid;
		height: 160px;
		padding:none;
		position:relative;
		background:#444;
}

.note{
	div{
		background:#222
	}
}

.rest{
	div{
		border-color:#fff !important;
	}
}
.selected {
	background-color:cyan;
}
.hit {
	color:orange;
	background-color:white;
	display:inline-block;
	border-radius:33px;	
}
