.bar-hit{
	background:#443322;
}
.bar-input{
	margin:0;
	padding:0;
	width:100%;
	& .span-me{
		background:yellow !important;
		width:inherit;
	}
	background:white;
	font-size:inherit;
	color:black;
	line-height:26px;
}
.beat-blanket{
	width:60%;//inherit;
	margin:$chordScale*2;
	.selected{
		div{
			color:transparent;
			background:rgba(255,255,255,0.42) !important;
		}
	}
	background:rgba(0,0,0,0.3);
}

.bar-beat{
	div, li{
		width:100%;
	}
	width:58px;
	padding:0px;
	margin-left:0px;
	border:none;
}
.measure-bar{
	li{
		writing-mode:initial;
	}
	li div{
 		width:8rem;
		//writing-mode:initial;
	}

}
.big-me{
  vertical-align:middle;
	display:inline-block !important;
	overflow: hidden;

	li button{

		line-height: 192rem;
	}
	li div{
		//background:$coldFeet;

		background-color: black;
  	color: $deepRed;
		text-shadow:#d0bb27  .2rem .2rem 0;//rgba(255,255,255,0.5);
  	//-webkit-background-clip: text;
    //-moz-background-clip: text;
    //background-clip: text;
   	font-size:3rem;
   	vertical-align:super;

		background:url('../images/fret.jpg');
 }
}

.meter-bar{
		border:3px black solid;
		height: 160px;
		padding:none;
		position:relative;
		background:$coldFeet;
}

.note{
	div{
		background:#222
	}
}

.rest{
	&.hit{
		div{
			background: $deepSecond !important;
			border-color:$middleorange !important;

		}
	}
	div{
		border-color:$secondColor !important;
		background:$deepRed !important;//#fff !important;
	}
}
.selected {
	background-color:cyan;
	color:inherit;
}
.hit {
	button{
		background:inherit;
		color:inherit;

		&:hover{
			/*&:before{
				content: attr(sound);
				position: absolute;
				background: $coldFeet;
				width: $chordScale;
				height:$chordScale;
				color:$deepBlue;
				font-size: $chordScale*4;
			}*/
			background:$deepBlue;
		}
		&:active{
			color:$deepRed;
			border-color:$middlepurple;
		}
	}
	div{
		background:red;
		box-shadow:none !important;
	}
	color:$coldFeet;
	background:white;
	display:inline-block;
	border-radius:16px;
}
