@import 'properties';
html, body{
	width: 100%;
  height: 100%;
	margin-top: -2rem;
	transform: scale(50%);
	image-rendering:pixelated;
	//overflow-y:hidden;
}
.ember-text-field{
	width:100%;

}
input[type="range"] {
    display: block;
    width: $chordScale*2;
    -webkit-appearance: slider-vertical;
    /* width: 8px; */
    height: 100%;
    /* padding: 0 5px; */
    /* -webkit-appearance: slider-vertical; */
}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

body{
  background-attachment: fixed;
}
.panels{
	background:grey;

	li{
		background:olive;
		display:block;
	}
}
.foreground button{
	transition:font-size .1s;
	&:active{
		color:$algebra;
    font-size: 4rem;
	}
	&:hover{
		color:$goldArrow;
		font-size:5rem;
	}
	color:inherit;
}
.float-left{
	float:left;
}


.tableColumn{
	display:table-column;
}
.float-right{
	float:right;
}
.inline-block{
	display:inline-block;
	width:90%;
}

.overflow{
	overflow: hidden;
}
.horizontal-align{
	text-align:center;
}
@keyframes hitout {
  from {background-color: $pinkNoise}
  to {background-color:transparent}
}
button:focus{
	outline:none;
	color:antiqueWhite;
	animation:hitout 1s infinite;
	//animation-delay: 1s;
	//background:$pinkNoise !important;
}
.scroll{
	//overflow-y: scroll;
}

$outScale:1.5rem;

.displayTable{
	width:100%;
	display:table;
	overflow:hidden;
	padding-top:1rem;
	outline:groove $outScale $deepOrange;

	outline-offset: -$outScale;
	background:$deepOrange;//secondColor;
	//background:$darkenColor;//$middleyellow;
	border-bottom:$middleblue 4px solid;
	div, ul{
		display:table-cell;
		vertical-align: middle;
	}
	.playbar{
		//background:$secondColor;
		outline-offset: -1rem;
		min-width:60rem;
		width:40%;
		position: relative;
		border-bottom-color: $secondColor !important;
		border-left-color:#d7b293 !important;
	}
}
$slim:$chordScale/2*4;
.withRadius{
	vertical-align:middle;
	border-radius:3rem;
	padding:0;
	color:$middlepurple;
	overflow:hidden;
	outline: $secondColor .3rem solid;
	outline-offset: -2rem;
	background:white;
	border:solid $secondColor;
}
.expanding{
	vertical-align: top;
	line-height: 200%;
	color:$middleorange;
	//color:$deepSecond;//	$middleblue;
    display:table-cell;//width: 39%;
		&:before,&:after{
			margin-right: $chordScale;
			content:"⡇";
			display: block;
		  background: $middleorange;//$secondColor;//deepOrange;
		  width: inherit;
			height:inherit;
		  border-radius: 0 0 $borderRadius 0 ;
		  border: solid #e0e0e0 1rem;
			border-top-color: $secondColor;
		  border-width: 0 0 3rem  0;
			border-right-width: $slim;
		}

		&:after{

			background: $middleorange;
			border-width: 3rem $slim 0 0 ;
			border-radius:0 $borderRadius 0 0;
			border-right-width:$slim;
			border-right-color:$deepSecond;
			border-top-color: $deepSecond;
		}
		&.leftish{


			&:before{
				border-radius:0 0 0 $borderRadius;
			}
			&:after{
				border-left-color:$deepSecond;
				border-left-width: 3rem;
				border-radius: $borderRadius 0 0 0;
			}
			&:before,&:after{
				border-right-width: 0;
				margin-right: 0;
				margin-left: $chordScale;
				border-left-width: $slim;
			}
		}
}
.exp{

	//outline:1rem solid black;
	//outline-offset: -1rem;
	border:$secondColor groove;
	//border-radius:$borderRadius;
	border-width: 6rem 0;
	border-bottom-color:$middleorange;
}
