@import 'properties';
html, body{
	width: 100%;
  height: 100%;
	margin-top: -2rem;
	transform: scale(50%);
	image-rendering:pixelated;
	//overflow-y:hidden;
}
.ember-text-field{
	width:100%;

}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

body{
  background-attachment: fixed;
}
.panels{
	background:grey;

	li{
		background:olive;
		display:block;
	}
}
.foreground button{
	transition:font-size .1s;
	&:active{
		color:$algebra;
    font-size: 4rem;
	}
	&:hover{
		color:$goldArrow;
		font-size:5rem;
	}
	color:inherit;
}
.float-left{
	float:left;
}
.displayTable{
	display:table;
	background:$darkenColor;//$middleyellow;
	border-bottom:$middleblue 4px solid;
	div, ul{
		display:table-cell;
		vertical-align: middle;
	}
}
.tableColumn{
	display:table-column;
}
.float-right{
	float:right;
}
.inline-block{
	display:inline-block;
}

.overflow{
	overflow: hidden;
}
.horizontal-align{
	text-align:center;
}
button:focus{
	outline:none;
	color:antiqueWhite;
	background:$pinkNoise !important;
}
.scroll{
	//overflow-y: scroll;
}
