@import 'properties';


.orangino{
	&::-webkit-scrollbar-track	{
		//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: transparent;
	}
	&::-webkit-scrollbar{
		width: $chordScale*$factor;
		height: $chordScale*$factor;

		background-color: transparent;//#F5F5F5;
	}
	&::-webkit-scrollbar-thumb{

		border-radius:$chordScale/$factor;
		background-color: $orange;
		background-image: $fret;
	}
}

.inline-tab{
	width:50%;

	//position:relative;
	display:table;

}

.oranginoH{
	@extend .orangino;
	&:hover{
		//background-color: green;
	}
	&::-webkit-scrollbar-thumb{
		&:hover{
			background-color:$orange;
		}
		background-color:$midnight-sea;
		background-image:$fret;
		background-size: $chordScale*12;
		background-repeat: repeat;
	}
}


html, body{
	width: 100%;
  height: 100%;
	margin-top: -2rem;
	transform: scale(50%);
	image-rendering:pixelated;
	//overflow-y:hidden;
}
.ember-text-field{
	width:inherit;//92.8%;

}
input[type="range"] {
    display: block;
    width: $chordScale*2;
    -webkit-appearance: slider-vertical;
    /* width: 8px; */
    height: 100%;
    /* padding: 0 5px; */
    /* -webkit-appearance: slider-vertical; */
}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

body{
  background-attachment: fixed;
}
.panels{
	background:grey;

	li{
		background:olive;
		display:block;
	}
}
.foreground button{
	transition:font-size .1s;
	&:active{
		color:$algebra;
    font-size: 4rem;
	}
	&:hover{
		color:$goldArrow;
		font-size:5rem;
	}
	color:inherit;
}
.float-left{
	float:left;
}


.tableColumn{
	display:table-column;
}
.float-right{
	float:right;
}
.inline-block{
	display:inline-block;
	width:90%;
}

.overflow{
	overflow: hidden;
}
.horizontal-align{
	text-align:center;
}
@keyframes hitout {
  from {background-color: $pinkNoise}
  to {background-color:transparent}
}
button:focus{
	outline:none;
	color:antiqueWhite;
	//animation:hitout 1s infinite;
	//animation-delay: 1s;
	//background:$pinkNoise !important;
}
.scroll{
	//overflow-y: scroll;
}

$outScale:1.5rem;
.displayEighty{
	width:70% !important;
}
.displayTable{

	&.lyric-pane{
		.exp,.expanding{
			line-height:200%;
		}
	}
	width:100%;
	display:table;
	overflow:hidden;
	padding-top:1rem;
	outline:groove $outScale $deepOrange;

	outline-offset: -$outScale;
	background:$deepOrange;//secondColor;
	//background:$darkenColor;//$middleyellow;
	border-bottom:$middleblue 4px solid;
	div, ul{
		display:table-cell;
		vertical-align: middle;
	}
	.playbar{
		//background:$secondColor;
		outline-offset: -1rem;
		min-width:60rem;
		//width:40%;
		position: relative;
		border-bottom-color: $secondColor !important;
		border-left-color:#d7b293 !important;
	}
}
$slim:$chordScale/2*4;
$outline:.5rem;
$u1:$deepSecond;//$secondColor;
$u2:$middleorange;
$book:$deepPurple;//linear-gradient(90deg,$u1 1%,$u2 18%,$u1 35%,$deepSecond 50%,$u1 65%,$u2 78%,$u1 99%);
//$book:linear-gradient(90deg,$u1 12%,$u2 24%,$u1 35%,$u1 65%,$u2 78%,$u1 88%);

.withRadius{
	.span-me{
		font-size:3.3rem
		// border:solid;
		// border-color: transparent $mahogany;
		// border-radius: 42%;//$outline ;
		// border-width: $outline $outline $outline 0;
		// text-shadow: black .125rem .125rem 0;
		// -webkit-background-clip:margin-box;
		// color:transparent;
		// padding: 0 3rem;
		// margin:auto;
		// display: block;
		// width: inherit;
		// &:nth-child(even){
		// 	border-width: $outline 0 $outline $outline;
		// }
	}
	vertical-align:middle;
	border-radius:3rem;
	padding:0;
	color:$deepGold;//$middlepurple;
	overflow:hidden;
	outline: $secondColor .3rem solid;
	outline-offset: -2rem;
	background:white;
	border:solid $secondColor;
	//background:$book;//white;
}
.hidden{
	visibility: hidden;
}
.canon{
	.exp{
		padding:$chordScale*$factor 0;
	}
	.expanding{
		&:before,&:after{
			padding:$chordScale*$factor 0;
		}
	}
}
.expanding{
	vertical-align: top;
	color:$middleorange;
	padding:1rem;
	//color:$deepSecond;//	$middleblue;
    display:table-cell;//width: 39%;
		&:before,&:after{
			padding: inherit;
			margin-right: $chordScale;
			content:"⡇";
			display: block;
		  background: $middleorange;//$secondColor;//deepOrange;
		  width: inherit;
			height:inherit;
			height:100%;
		  border-radius: 0 0 $borderRadius 0 ;
		  border: solid $crisp 1rem;
			//border-top-color: blue;//$secondColor;
		  border-width: 0 0 3rem  0;
			border-right-width: $slim;
		}

		&:after{

			background: $middleorange;
			border-width: 3rem $slim 0 0 ;
			border-radius:0 $borderRadius 0 0;
			border-right-width:$slim;
			border-right-color:$deepSecond;
			border-top-color: $deepSecond;
		}
		&.leftish{


			&:before{
				border-radius:0 0 0 $borderRadius;
			}
			&:after{
				border-left-color:$deepSecond;
				border-left-width: 3rem;
				border-radius: $borderRadius 0 0 0;
			}
			&:before,&:after{
				border-right-width: 0;
				margin-right: 0;
				margin-left: $chordScale;
				border-left-width: $slim;
			}
		}
}
.exp{

	//outline:1rem solid black;
	//outline-offset: -1rem;
	border:$secondColor groove;
	//border-radius:$borderRadius;
	border-width: 6rem 0;
	border-bottom-color:$middleorange;
}
