@import "properties";


.squaredOne {
	padding:0 20px 0 0;
	margin:.25rem;
	display:inline-block;
	position:relative;
	label{
		position:absolute;
		width:100%;
	}
  input[type=checkbox] {
    visibility: hidden;
	}
}


.playbar {
	margin-top:1rem;
	background:$deepPurple;
	border-width:1rem .5rem !important;
	border: 2rem inset $middleorange  !important;
	outline: .5rem groove $deepOrange;
	div{
		display:inline-block;
		vertical-align:middle;
	}
	button{
		//		color:$colorOne;
		background:$secondColor;
		line-height: 4rem;
		//vertical-align: middle;
		label{
			//vertical-align: middle;
			//padding: $chordScale/2 ;
			//margin: $chordScale/9;//auto;
			//font-size:$chordScale;
		}

	}
	select{
		vertical-align:middle;
		//padding-left:1rem;
		height:8rem;
		width:7rem;
		border-radius:$chordScale;
		background:$deepSecond;
		color:$middleorange;
		border:$chordScale/2 $deepRed inset;


		text-align-last:center;
		line-height: $chordScale*3;
		font-size:5rem;
		text-align:center;

	}
	option{
    width:90%;
		overflow:hidden;
		color: white;
    background:$darkenColor;
	}

  button{
  //  margin:.25rem;
    font-family:monospace;
    font-size:6rem;
  }

}
@mixin fontFix($deg) {
		$transforms: rotate($deg+deg);
		-moz-transform: $transforms;
	  -o-transform: $transforms;
		-ms-transform: $transforms;
		-webkit-transform: $transforms;
		transform: $transforms;
}

@mixin topBot($height,$width,$direction){
	width: 0;
	height: 0;
	border-top: $height+px solid transparent;
	border-bottom: $height+px solid transparent;
	border-#{$direction}: $width+px solid #bcc;
}
@mixin boxRow($offset, $height:20, $width:20, $top:-10, $offsetN: 48){
	content:"";
	display:block;
	background:#bcc;
	width:$width+px;
	height:$height+px;
	position:absolute;
	top:$top+px;
	#{$offset}:$offsetN+px;
}

.playGroup{
	margin-left:40%;
	margin-right:40%;
	//padding:3px;
	border:6px #777 groove;
	border-radius:6px;
}

.arrowbtn{
	margin:auto;
	position:relative;
}

.sustainbtn{
		display:block;
		position:absolute;
		bottom:0px;
		left:12px;
		@include topBot(80,86,left)
}

.loopbtn{
		display:block;
		position:absolute;
		bottom:0px;
		right:12px;
		@include topBot(80,86,right)
}

.light-square{
	display:block;
	left:0px;
	@include topBot(80,86,right);
	border-right-color: blue;

	&:before{
		@include fontFix(-45)
		background:#bcc;
		width:200px;
		height:60px;
		position:absolute;
		content:"";
		right:0px;
	};
	&:before{
		@include fontFix(-45)
		background:red;
		width:200px;
		height:20px;
		position:absolute;
		content:"";
		right:0px;
	};
	&:after{
		content:"";
		display:block;
		position:absolute;
		bottom:0px;
		right:0px;
		@include topBot(80,86,right)
	}

}
.arrow-play {

	@include topBot(38,56,left);
	left: 19px;
	&:before{
		@include boxRow(right,76,22,-38,64)

	}
}

.arrow-left {
	@include topBot(36,54,right);
	left:0px;
	top:70px;
	margin-left:12px;
	&:before{
		@include boxRow(left);
	}
}

.arrow-right {
	@include topBot(36,54,left);
	left:0px;
	bottom:70px;
	margin-right:12px;
	&:before{
		@include boxRow(right);
	}
}


.arrow-back {
	@include topBot(40,52,right);
}
