@mixin fontFix($deg) {
		$transforms: rotate($deg+deg);
		-moz-transform: $transforms;
	  -o-transform: $transforms;
		-ms-transform: $transforms;
		-webkit-transform: $transforms;
		transform: $transforms;
}

@mixin topBot($height,$width,$direction){
	width: 0; 
	height: 0; 
	border-top: $height+px solid transparent;
	border-bottom: $height+px solid transparent;
	border-#{$direction}: $width+px solid #bcc;
} 
@mixin boxRow($offset, $height:20, $width:20, $top:-10, $offsetN: 48){
	content:"";
	display:block;
	background:#bcc;
	width:$width+px;
	height:$height+px;
	position:absolute;
	top:$top+px;
	#{$offset}:$offsetN+px;
}

.playGroup{
	margin-left:40%;
	margin-right:40%;
	//padding:3px;
	border:6px #777 groove;
	border-radius:6px;
}

.arrowbtn{
	margin:auto;
	position:relative;
}

.loopbtn{
		display:block;
		position:absolute;
		bottom:0px;
		right:0px;
		@include topBot(80,86,right)
}

.light-square{
	display:block;
	left:0px;
	@include topBot(80,86,right);
	border-right-color: blue;

	&:before{
		@include fontFix(-45)
		background:#bcc;
		width:200px;
		height:60px;
		position:absolute;
		content:"";
		right:0px;	
	};
	&:before{
		@include fontFix(-45)
		background:red;
		width:200px;
		height:20px;
		position:absolute;
		content:"";
		right:0px;	
	};
	&:after{
		content:"";
		display:block;
		position:absolute;
		bottom:0px;
		right:0px;
		@include topBot(80,86,right)
	}

}
.arrow-play {
	
	@include topBot(38,56,left);
	left: 19px;
	&:before{
		@include boxRow(right,76,22,-38,64)

	}
}

.arrow-left {
	@include topBot(36,54,right);	
	left:0px;
	top:72px;
	margin-left:12px;
	&:before{
		@include boxRow(left);
	}
}

.arrow-right {
	@include topBot(36,54,left);
	left:0px;
	bottom:70px;
	margin-right:12px;
	&:before{
		@include boxRow(right);
	}	
}


.arrow-back {
	@include topBot(40,52,right);
}
