/* Put your CSS here */
@import "compass/css3/box-shadow";
@import "compass/css3/user-interface";
@import "compass/functions/lists";
@import "compass/css3/text-shadow";
@import "compass/css3/background-clip";
@import "compass/css3/appearance";

@import "properties";


@mixin fullBar($pos){
	#{$pos}:0px;
	//@extend .orangino;
	//transition:background 1s;
	position:fixed;
	text-align:center;
	//background:$middleyellow;//#aaa;
	background:linear-gradient(to $pos,$secondColor 0%, rgba(76,76,76,0.15) 85%, rgba(76,76,76,0) 100%);
	@if ($pos == top) or ($pos == bottom) {
		left:0px;
		@if ($pos == top){
			position:fixed;
			top:-1rem;
			z-index: 2;
		}
		display:inline-block;
		width:100%;
	//	height:10%;
	}@else{
		@if ($pos == left){
			direction:rtl;
		}
		li{
			display:block;
		}
		display:block;
		top:0px;
		overflow-y: scroll;
		overflow-x: hidden;
		z-index:2;
		//width:20%;
		height:100%;
	}
  &.autohide {
		@if ($pos == top){
			position:fixed;
		}
		@if ($pos == bottom){
			position:fixed;
			z-index:2;

		}

		ul,.chat-pane {
	  	display: none;
		}
		//background: green;

		&:hover {
	  	.chat-pane,ul {
	  		display: inherit;
	  	}
		//	background: $panelOverlayUp;
    }
  }
}


@each $pos in top, left, right, bottom {
	$opposite:opposite($pos);
	.#{$pos}Full {
    	@include fullBar($pos);
		border-#{$opposite}:6px solid $algebra;
		//background-image: url('/images/#{$animal}.png');
  	}
}
.middleFull {
	text-align:center;
	&.verticalTab{
		background:#3498db;
	}
}
.wait{
  cursor:wait;
}
.dino{
  cursor:url('./../images/dino.cur');
}
.toolbar{
	//overflow-y:hidden;
	//height:100%;
}
textarea:focus, input:focus{
    outline: none;
}
.backGround{
	position:absolute;
	bottom:0px;
}

.color-box {
	float:left;
	width:30px;
	height:30px;
	margin:5px;
	border: 1px solid $algebra;
}

.active{
	background:#444 !important;
	color:#FFA !important;
}
.hi {
	color:red;
}
.lo {
	color:blue;
}
.ember-application {
  margin:0px auto;
	background:$almond;
	@include user-select(none);
	overflow-x:hidden;
}
.noteClass *{
	background:green;
}
.lest{
	display:inline-block;
	position:relative;
	cursor:crosshair;
}
.outer table, th, td {
		border:7px inset #383838;
	//    border-radius:36px;
	//	margin: 0px 0px 10px 0px;
		@include box-shadow(inset 0px 0px 20px rgba(0,0,0,0.9));
		background-image:none;
}
.outer {
	border:4px double #666666;
    padding:3%;
	padding-top:12px;
	border-radius:64px;
	@include box-shadow(0px 0px 4px 4px #282828);
	background-image:url("pat.png");
}
