@import "compass/css3/box-shadow";
@import "compass/functions/lists";


.vertical-dash{
	transform: rotateZ(90deg);
}

.vertical-tab{
	float:left;
	width:auto;
	height:auto !important;
	div{
		height:1400px;
		width:300px;
	}
	canvas{
		position:absolute;
		transform: translateX(-40%) translateY(190%) rotateZ(90deg);
	}
}

.flip-button{


}

@mixin strings(){
	background-image:
		linear-gradient(
		transparent 48%,
		white 52%,
		black 56%,
		transparent 68%),
		linear-gradient(90deg,
		transparent 48%,
		black 48%,
		white 62%,
		black 65%,
		transparent 65%);
		background-size:1px 50px,67.5px 1px;
	background-position: 26px 0px, 29px 0px;
	background-color:transparent;
}

.tablet{
	border-radius:15px;
	margin:2rem;
	//border:7px inset #383838;
	//background-color:#269;
	//@include strings();
	@include box-shadow(inset 0px 0px 4px 4px #282828);
	vertical-align:top;
	position:relative;
  display:block;
  height:312px;
	overflow-x:	scroll;
	overflow-y:	hidden;
	//width:1400px;

}

.tablature{
	border-radius:8px;
	margin-left:10px;
	display:inline-block;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
}
