@import "compass/css3/box-shadow";



.tablet{
	border-radius:15px;
	border:7px inset #383838;
	@include box-shadow(inset 0px 0px 4px 4px #282828);
	vertical-align:top;
	position:relative;
  display:block;
  height:300px;
	width:1400px;

}

.tablature{
	border-radius:8px;
	margin-left:100px;
	display:inline-block;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
}


