.lyrics{
	color:white;
	font-size:44px;
	display:block;
	width:100%;
	position:relative;
}

.field{
	text-align:center;
	background:rgba(0,0,155,.04);
	display:block;
	border:none;
	width:100%;
	color: white;	
}


