
<li>
<div>
{{view "select" selection=view.width value=view.width content=view.range}} 
</div>
</li>
<br>
{{#if song.selected.isFulfilled}}
	{{#each song.selected as |color measure|}}
		{{l-measure active=("is-classy" measure song.selected.index) index=measure}}
	{{/each}}
{{/if}}
