
<li>
<div>
{{view "select" selection=view.width value=view.width content=view.range}} 
{{song.index}}
</div>
</li>
<br>
	{{#each song.score as |color measure|}}
		{{l-measure active=("is-classy" measure song.index) index=measure}}
	{{/each}}

