<div class="playGroup">
<div class="btn-group btn-group-justified">
	<span {{action "stepLeft" }} class="btn btn-default">
		<div class="arrowbtn arrow-left"></div>
	</span>
	<span {{action "back" }} class="btn btn-default">
		<div class="arrowbtn arrow-back"></div>
	</span>
	<span {{action "play" }} class="btn btn-default">
		<div class="arrowbtn arrow-play"></div>
	</span>
	<span {{action "stepRight"}} class="btn btn-default">
		<div class="arrowbtn arrow-right"></div>
	</span>
</div>
</div>
