{{#if song.panels.isFulfilled}}
  {{#each song.panels as |panels|}}	
    <div class='{{panels.panel}}Full {{if panels.checked "autohide"}}'>
		  {{component panels.name}}
	  </div>
  {{/each}}
{{/if}}
